.grid-container {
    height: 100%;
    width: 100%;
    overflow: auto
}

.ritz .waffle a {
    color: inherit;
}

.ritz .waffle .s4 {
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    font-family: docs-Blinker, Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s1 {
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    font-family: docs-Blinker, Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s2 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: docs-Blinker, Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s5 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: docs-Blinker, Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s0 {
    background-color: #f1f3f4;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: docs-Blinker, Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s3 {
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
    height: fit-content;
    border-radius: 8px;
}


thead {
    display: none!important;
}

tbody th {
    display: none!important;
}

tbody tr:nth-of-type(1), tbody tr:nth-of-type(2) {
    font-weight: bold;
}

tbody td {
    padding: 8px 4px;
}