// Overrides https://bootswatch.com/cosmo/

$eit-primary: #034EA2;
$eit-secondary: #6BB745;

$eit-green-lightest: #D2DF83;
$eit-green-light: #96C247;
$eit-green-medium: #00662F;
$eit-green-dark: #003612;

/*-- scss:defaults --*/
$primary: #034EA2 !default;
$success: #96C247 !default;

// Global styles

.sidebar-item {
    border: 1px solid #D2DF83;
    border-radius: 32px;
    padding: 6px;
    padding-left: 12px;

    &:has(a.active) {background-color: #D2DF83;}
    &:hover{text-decoration: underline;}

    .active {font-weight: bold;}

    .sidebar-item-text {
        span {color: black!important;}
    }
}

.nav-footer-center {
    display: none!important;
}

.nav-footer-left {
    flex-grow: 10!important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.footer-ulisboa {
    width: 5rem!important;
    @media (max-width: 576px) {
        width: 2.5rem!important;
    }
}
.footer-igot {
    width: 7rem!important;
    @media (max-width: 576px) {
        width: 3rem!important;
    }
}
.footer-eit {
    width:18rem!important;    
    @media (max-width: 576px) {
        width: 9rem!important;
    }
}
